body {
  margin: 0;
  padding: 0 0 0 0;
  font-family: sans-serif;
  line-height: 1 !important;
}

.navbar {
  margin-bottom: 30px;
}

.clickable {
  cursor: pointer;
}

th {
  white-space: nowrap;
}

.fa-times-circle {
  color: red;
}
