html {
  font-size: 0.8rem;
}

body {
  margin: 0;
  padding: 0 0 0 0;
  font-family: sans-serif;
  line-height: 1 !important;
}

.navbar {
  margin-bottom: 30px;
}

.clickable {
  cursor: pointer;
}

.fa-times-circle {
  color: red;
}
